# dependencies
node_modules

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*.local
.env
env.d.ts
vite-env.d.ts

# typescript
*.tsbuildinfo

# SSL 인증서 (필요시)
*.pem

# 충돌 임시파일 (선택)
*.orig.*